@import "./base";

.notification-count {
  margin-left: 10px;
  position: relative;
  bottom: 4px;
  background-color: $primary-blue;
  padding: 1px 13px 4px 13px;
  border-radius: 5px;
  color: $neutral-100;
}

button.mark-all-as-read {
  cursor: pointer;
  font-size: 0.9rem;
  background-color: transparent;
  border: transparent;
  font-weight: 500;
  color: $neutral-700;
}

.notification {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 15px;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 10px;
  margin-bottom: 15px;
  color: $neutral-700;

  @include for-tablet-up {
    padding: 20px;
    font-size: 0.9rem;
    font-weight: 500;
  }

  img {
    max-height: 2.5rem;
  }

  .notification-text {
    margin-bottom: 3px;
  }

  .image-comment {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    max-width: 600px;
  }

  .user-name {
    font-weight: 999;
    margin-right: 5px;
    color: $neutral-900;
  }

  .notification-content {
    margin-right: 5px;
  }

  .post-name, .group-name {
    font-weight: 999;
    margin-right: 5px;
  }

  .post-name {
    color: $neutral-700;
  }

  .group-name {
    color: $primary-blue;
  }

  .notification-date {
    color: $neutral-700;
    font-weight: 400;
  }

  .private-message {
    border: 1px solid $neutral-300-2;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: $neutral-700;
    font-weight: 450;
    max-width: 600px;
  }
}

.notification.unread {
  background-color: $neutral-200;

  .notification-text::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-red;
  }
}